/*font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*global styles*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
}

/*ui colors enviroments*/
:root {
  --black-primary: #181818;
  --red-primary: #58151c;
  --white-primary: #f4f4f4;
}

/*global classes*/
.smallContainer {
  margin: 0 auto;
  width: 60%;
}

.largeContainer {
  margin: 0 auto;
  width: 80%;
}